html, body {
	height:700;
	width:1024;
	margin: 0;
	position: relative;
	color: #464637;
	min-height: 100%;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}


h1 {
	color: #FF3F00;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
}


ul {
	margin: 10px;
	padding-top:0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom:0px;
	list-style: none;
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

.container {
	width: 80%;
	margin: auto;
	min-width: 1100px;
	max-width: 1300px;
	position: relative;
}

@media (min-width: 750px) and (max-width: 1100px){
	.container {
		width: 100%;
		min-width: 750px;
	}
}

#vitals_divs {
	width:1004;
	height: 660;
}

#label_div {
	float:left;
	width: 35px;
	height: 155px;
	text-align: center;
}
#graph_div {
	float:left;
	width: 360px;
	height: 155px;
}
#notes_div {
	float:right;
	width: 50px;
	height: 155px;
	position: relative;
}
#button_div {
	padding-left: 25px;
	padding-top: 15px;
}
#resetAllButton {
	height: 20px;
	width: 200px;
}
#bottomButton {
	text-align: center;
}
#reset_buttons {
	position: absolute;
	width: 46px;
	height:18px;
  	bottom: 5px;
  	right:30px;
}


.sortable-ghost {
	opacity: .1;
}

#foo .sortable-drag {
	background: #daf4ff;
}


img {
	border: 0;
	vertical-align: middle;
}


.logo {
	top: 55px;
	left: 30px;
	position: absolute;
}


.title {
	color: #fff;
	padding: 3px 10px;
	display: inline-block;
	position: relative;
	background-color: #FF7373;
	z-index: 1000;
}
	.title_xl {
		padding: 3px 15px;
		font-size: 40px;
	}



.tile {
	width: 22%;
	min-width: 245px;
	color: #fff;
	padding: 10px 30px;
	text-align: center;
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 30px;
	background-color: #fff;
	display: inline-block;
	vertical-align: top;
}
	.tile__name {
		cursor: move;
		padding-bottom: 10px;
		border-bottom: 1px solid #fff;
	}

	.tile__list {
		margin-top: 10px;
	}
		.tile__list:last-child {
			margin-right: 0;
			min-height: 80px;
		}

		.tile__list img {
			cursor: move;
			margin: 10px;
			border-radius: 100%;
		}



.block {
	opacity: 1;
	position: relative;
}
	.block__list {
		max-width: 100%;
		margin-left: 10px;
		margin-right: 10px;
	}
		.block__list-title {
			margin: -20px 0 0;
			padding: 10px;
			text-align: center;
			background: #fff;
		}
		.block__list li { 
			width: 492px;
			height: 155px;
			margin-bottom: 10px;
			cursor: move;
			background-color: rgba(128,128,128, 0.02);

			border-radius: 10px;
			box-shadow: 2px 2px rgba(128,128,128, 0.6);
		}

	.block__list_words li {

		width: 492px;
		height: 155px;
	}
		.block__list_words .sortable-ghost {
			opacity: 0.2;
			background-color: #5F9EDF;
		}

		.block__list_words li:first-letter {
			text-transform: uppercase;
		}

	.block__list_tags {
		padding-left: 30px;
	}

	.block__list_tags:after {
		clear: both;
		content: '';
		display: block;
	}
		.block__list_tags li {
			color: #fff;
			float: left;
			margin: 8px 20px 10px 0;
			padding: 5px 10px;
			min-width: 10px;
			background-color: #5F9EDF;
			text-align: center;
		}
			.block__list_tags li:first-child:first-letter {
				text-transform: uppercase;
			}



#editable {}
	#editable li {
		position: relative;
	}

	#editable i {
		-webkit-transition: opacity .2s;
		transition: opacity .2s;
		opacity: 0;
		display: block;
		cursor: pointer;
		color: #c00;
		top: 10px;
		right: 40px;
		position: absolute;
		font-style: normal;
	}

	#editable li:hover i {
		opacity: 1;
	}


#filter {}
	#filter button {
		color: #fff;
		width: 100%;
		border: none;
		outline: 0;
		opacity: .5;
		margin: 10px 0 0;
		transition: opacity .1s ease;
		cursor: pointer;
		background: #5F9EDF;
		padding: 10px 0;
		font-size: 20px;
	}
		#filter button:hover {
			opacity: 1;
		}

	#filter .block__list {
		padding-bottom: 0;
	}

.drag-handle {
	margin-right: 10px;
	font: bold 20px Sans-Serif;
	color: #5F9EDF;
	display: inline-block;
	cursor: move;
	cursor: -webkit-grabbing;  /* overrides 'move' */
}

#todos input {
	padding: 5px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}



#nested ul li {
	background-color: rgba(0,0,0,.05);
}

.d3_timeseries.axis {
  font: 10px sans-serif;
}


.d3_timeseries.axis path,
.d3_timeseries.axis line {
  fill: none;
  stroke: #000;
  stroke-width:1;
  shape-rendering: crispEdges;
}

.d3_timeseries.mousevline {
  fill:none;
  stroke: #666;
  stroke-dasharray: 3,6;
  stroke-width:1;
}

.d3_timeseries.mousevline-text {
  font: 10px sans-serif;
}

/*g.tick text,*/
.d3_timeseries.axis text{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
